html {
	background-image: url("../IMG/velback.png");
	align-content: center;
}

body{
	height: 100%;
	margin: auto;
	margin-top: 150px;
    
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	position: relative;
	top:-150px;
}

#button1,
#button2,
#pgpkeybutton {
	background-color: black;
	border: none;
	color: white;
	display: inline-block;
	font-size: 16px;
	padding: 14px 200px;
	text-align: center;
	align-self: center;
	border: 2px solid #a200ff;
	border-radius: 12px;
	transition-duration: 0.4s;
	transition: opacity 0.5s ease;
	cursor: pointer;

}

#button3 {
	background-color: black;
	border: none;
	color: white;
	display: inline-block;
	font-size: 16px;
	padding: 14px 185px;
	text-align: center;
	align-self: center;
	border: 2px solid #a200ff;
	border-radius: 12px;
	transition-duration: 0.4s;
	transition: opacity 0.5s ease;
	cursor: pointer;

}



button {
	background-color: black;
	border: none;
	color: white;
	display: inline-block;
	font-size: 16px;
	padding: 7px 50px;
	text-align: center;
	align-self: center;
	border: 3px solid #a200ff;
	border-radius: 12px;
	top: 50px;
}


#button1:hover,
#button2:hover,
#button3:hover,
#pgpkeybutton:hover,
#backBtn:hover {
	 box-shadow: 0 10px 20px rgba(97, 21, 196, 0.822), 0 6px 6px rgba(97, 21, 196, 0.822);
}



.hidden {
    display: none;
}

.loader {
	margin-top: 100px;
}

#textstuffs {
	display: block;
	text-align: center;
	margin-top: -100px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-repeat: repeat-x;
	-webkit-background-clip: text;
    -moz-background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color:#ffffff;
	background-size: 400% 400%;
}

#pgpKey {
	text-size-adjust: 10px;
    margin-top: -160px;
    background-color: #1f191977;
    padding: 10px;
    border: 1px solid #ddd;
	border-radius: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-repeat: repeat-x;
	-webkit-background-clip: text;
    -moz-background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color:#ffffff;
}


.gradient-box{
	margin: 20px auto;
	padding: 60px;
    max-width: 700px;
	max-height: 2000px;
    background-color: #472b43b4;
    backdrop-filter: blur(1px);
	justify-content: center;
    align-items: center;
	/* border-image-slice: 1;
	border-image-source: linear-gradient(45deg,#FF0000,#FF7F00,#FFFF00,#00FF00,#0000FF,#4B0082,#8B00FF);
	border-style: solid;
	height: 80vh;
	padding-top: 190px;
	-webkit-animation: rainbowanim 10s ease infinite;
		-moz-animation: rainbowanim 10s ease infinite;
		 	animation: rainbowanim 10s ease infinite; */
}
