body {
      margin: 0;
      padding: 0;
      align-content: center;
    }
    * {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5vh;
        color: white;
    }
    h1 {
        position: fixed;
        background: linear-gradient(to top left, #26257b 0%, #3a2773 30%, #1f6953 99%);
        height: 100%;
        width: 100%;
    }
    h2 {
        display: block;
        width:100%;
        height: 4%;
        bottom: 93vh;
        padding-top: 4vh; /* Adjust this value to move the text down */
        padding-left: 6vh;
        font-size: 2em;
        position: fixed;
        text: 2%;
        font-weight: bold;
        font-family: "Dela Gothic One", sans-serif;
        color: gray;
        background: linear-gradient(to left, #4f1264 0%, #473287 30%, #0c6148 99%);
        box-shadow: 0 0 0.2vh purple, 0 0 2vh orchid, 0 0 1vh darkorchid
    }
    h3 {
        position: absolute;
        width: 95.95%;
        height: 92%;
        top: 6%;
        padding-left: 6vh;
    }
}

#overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }
    
    #text{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
    
#chatShow, #chatForm { box-sizing: border-box; }

/* (B) CHAT HISTORY */
#chatShow { 
        position: absolute;
        width: 95%;
        height: 96%;
        bottom: 6%;
        overflow-y: scroll;
        overflow-wrap: break-word;
    ;
}

.chatRow {
        display: flex;
        align-items: stretch;
        padding: 5px;
        border-bottom: 1px solid #524a5a;
}
.chatName, .chatMsg { padding: 5px; }
.chatName {
        background: #025cff;
        color: #fff;
        margin-right:10px;
}

/* (C) CHAT FORM 
#chatForm {
        display: flex;
        position: fixed;
        bottom: 1vw;
        width: 100;
        height: 4vh;
        padding: 10px;
}*/
.chatMsg { 
    position: fixed;
    width: 88vw;
    height: auto;
    min-height: 3.2vh;
    max-height: 16vh;
    right: 10.65%;
    bottom: 1vh;
    border-radius: 0.5vh;
    overflow-y: auto;
    background: linear-gradient(to right, #4f1264 0%, #473287 30%, #0c6148 99%);
    border: 0;
}
input:not([type="image" i]) {
    box-sizing: border-box;
}
input[type="text" i] {
    padding: 1vw 2.5vw;
    overflow: hidden;
    display: -webkit-box;
    overflow-y: scroll;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  

    word-wrap: break-word;
}
button { 
	position: fixed;
	width: 10vw;
    height: 4vh;
    bottom: 1vh;
	right: .2%;
    padding: 0;
    flex-grow: 1;
    background-color: #402d7d;
    font-family: "Dela Gothic One", sans-serif;
    color: gray;
    border-radius: 1vh;
    border: 0;
}
button:hover { 
	position: fixed;
	width: 10vw;
    height: 4vh;
    bottom: 1vh;
	right: .2%;
    padding: 0;
    flex-grow: 1;
    background-color: #d0c7ea;
    font-family: "Dela Gothic One", sans-serif;
    color: darkgray;
    border-radius: 1vh;
    border: 0;
}
/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0.5vw;
  background: #71839f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4f1264 0%, #473287 30%, #0c6148 99%);
  border-radius: 10px;
}
